<div class="">
  <!-- Este es el título con pin-->
  <div class="container-title">
    <div class="title">
      <div class="title-img-pin"></div>
      <div class="title-txt">Cities</div>
    </div>
  </div>

  <div class="container city">
    <div class="row">

        <% if @locations.is_a?(Location) %>
          <div class="container-city-card-1 mb-3 mx-3">
            <div class="">
              <div class="img-city-card">
                <% if @locations.photo.key.present? %>
                  <%= cl_image_tag(@locations.photo.key) %>
                <% else %>
                  <%= image_tag "map.png", class: "location-photo" %>
                <% end %>
              </div>
              <div class="white-city-card">
                <div class="info-city-card">
                  <div class="city-name"> <%= @locations.city %> </div>
                  <%= link_to "View city", city_show_path(@locations), class: "btn btn-cyan-700" %>
                </div>
              </div>
            </div>
        <% else %>

          <% @locations.each do |location| %>
            <div class="container-city-card-1 mb-3 mx-3">
                <div class="">
                    <div class="img-city-card">
                      <% if location.photo.key.present? %>
                        <%= cl_image_tag(location.photo.key) %>
                      <% else %>
                        <%= image_tag "map.png", class: "location-photo" %>
                      <% end %>
                    </div>
                    <div class="white-city-card">
                        <div class="info-city-card">
                          <div class="city-name"> <%= location.city %> </div>
                          <%= link_to "View city", city_show_path(@locations), class: "btn btn-cyan-700" %>
                          <div class="container"><%= @locations.length %> locations</div>
                        </div>
                    </div>
                </div>
            </div>
          <% end %> <!-- end of each do -->
        <% end %>

    </div>
  </div>

</div>
