<div class="container p-5 my-5 mx-3">
  <!-- Este es el título con pin-->
  <div class="container-title">
    <div class="title">
      <div class="title-img-pin"></div>
      <div class="title-txt">Cities</div>
    </div>
  </div>

  <div class="container p-5 mx-5 align-items-center">
  <!-- Este div es la city-card-->
    <% @locations.each do |location| %>
      <div class="container-city-card-1">
          <div class="img-city-card">
            <% if location.photo.key.present? %>
              <%= cl_image_tag(location.photo.key) %>
            <% else %>
              <%= image_tag ("map.png") %>
            <% end %>
          </div>
          <div class="white-city-card">
              <div class="info-city-card">
                  <div class="city-name"> <%= location.city %> </div>
                  <%# <button class="btn btn-cyan-700">
                    <div class="btn-cyan-700-txt"><%= link_to locations_path %>
                  <%= link_to "View city", locations_path(query: location.city), class: "btn btn-cyan-700" %>
              </div>
              <div class="container-stars">
                  <div class="star-c">
                    <!--<img class="star-fill" src="star-fill.png">-->
                    <div class="star-e"></div>
                  </div>
                  <div  class="star-c">
                    <div class="star-e"></div>
                  </div>
                  <div  class="star-c">
                    <div class="star-e"></div>
                  </div>
                  <div  class="star-c">
                    <div class="star-e"></div>
                  </div>
                  <div  class="star-c">
                    <div class="star-e"></div>
                  </div>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
