
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glide - Discover Your New City</title>
  <link rel="stylesheet" href="path/to/your/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="container">
      <h1>Discover Your New City,</h1>
      <h1>Live Where You Want</h1>
      <p>Live like a local, find your perfect home with Glide's advice</p>

      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: cities_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control-sb",
                  placeholder: "Type a city name"
            %>
            <button type="submit" class="btn btn-search">
              <img class="lupa" src="<%= image_path('search.png') %>" alt="Search">
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </section>


  <!-- Second Section -->
  <section class="second-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Find The Perfect Place To Live And More...</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="<%= image_path('Home-pareja.png') %>" alt="stats-glide">
        </div>
        <div class="col-md-6">
          <p>Welcome to Glide! A community dedicated to helping you find the best place to live in a new city.</p>
          <p>Our platform is based on the knowledge and experience of local residents who share their opinions and recommendations on the best places to live, eat, and enjoy life in the city. With our guide, you’ll be able to find safe areas with access to public transportation and pet-friendly.</p>
          <p>Join us and discover your perfect home!</p>
          <a href="http://localhost:3000/users/sign_up" class="btn btn-cyan-700">Sign Up</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Third Section -->
  <section class="third-section" style="background-color: lightgray;">
    <div class="container text-center">
      <h2>Easy to use</h2>
      <h4>3 steps to the perfect location</h4>
      <div class="d-flex justify-content-center"> <!-- Add the d-flex class here -->
        <div class="col-md-4-landing">
          <div class="square-container-landing">
            <img src="<%= image_path('pin_2_square.png') %>" alt="Pin Icon" class="icon-landing">
            <h4 class="h4-landing">Place a PIN</h4>
            <p>Look for the exact address and place the pin on the map.</p>
          </div>
        </div>
        <div class="col-md-4-landing">
          <div class="square-container-landing">
            <img src="<%= image_path('signpost-orange.png') %>" alt="Signpost Icon" class="icon-landing">
            <h4 class="h4-landing">Name your location</h4>
            <p>Select a name and category and set your location.</p>
          </div>
        </div>
        <div class="col-md-4-landing">
          <div class="square-container-landing">
            <img src="<%= image_path('pencil-square.png') %>" alt="Pencil Icon" class="icon-landing">
            <h4 class="h4-landing">Share a review</h4>
            <p>Add your photos and share your experience with the community.</p>
          </div>
        </div>
      </div>
      <a href="<%= user_signed_in? ? '/locations/new' : 'http://localhost:3000/users/sign_up' %>" class="btn btn-primary">Create a review</a>
    </div>
  </section>





 <!-- Fourth Section -->
  <section class="fourth-section" style="background-color: #F5F5F5;">
    <div class="container text-center">
      <h2>Top Cities To Visit</h2>
      <div class="d-flex justify-content-center"> <!-- Add the d-flex class here -->
        <div class="col-md-4-landing">
          <div class="container-city-card-1">
            <div class="img-city-card">
              <img src="<%= image_path('zocalo-cdmx.jpg') %>" alt="City">
            </div>
            <div class="white-city-card">
              <div class="info-city-card">
                <h3 class="city-name">City 1 Name</h3>
                <p class="country-name">Country 1</p>
                <div class="location-info">
                  <img src="<%= image_path('pin_2.png') %>" alt="Pin Icon" class="pin-icon">
                  <span class="location-count">1000 locations</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4-landing">
        <div class="container-city-card-1">
            <div class="img-city-card">
              <img src="<%= image_path('zocalo-cdmx.jpg') %>" alt="City">
            </div>
            <div class="white-city-card">
              <div class="info-city-card">
                <h3 class="city-name">City 1 Name</h3>
                <p class="country-name">Country 1</p>
                <div class="location-info">
                  <img src="<%= image_path('pin_2.png') %>" alt="Pin Icon" class="pin-icon">
                  <span class="location-count">1000 locations</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4-landing">
          <div class="container-city-card-1">
            <div class="img-city-card">
              <img src="<%= image_path('zocalo-cdmx.jpg') %>" alt="City">
            </div>
            <div class="white-city-card">
              <div class="info-city-card">
                <h3 class="city-name">City 1 Name</h3>
                <p class="country-name">Country 1</p>
                <div class="location-info">
                  <img src="<%= image_path('pin_2.png') %>" alt="Pin Icon" class="pin-icon">
                  <span class="location-count">1000 locations</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>
</html>
