<div class="container mt-4 mb-4">
  <div class="container-title">
    <div class="title">
      <img src="<%= image_path('pencil-square.png') %>" alt="Pencil Icon" class="title-img-pencil">
      <div class="title-txt">Create a review</div>
    </div>
  </div>

  <div class="location-info">
    <h3>Location Information:</h3>
    <p><strong>Name:</strong> <%= @location.name %></p>
    <p><strong>Address:</strong> <%= @location.address %></p>
    <p><strong>Category:</strong> <%= @location.category %></p>
    <p><strong>Subtype:</strong> <%= @location.public_space? ? @location.subcategory : @location.subcategory %></p>
  </div>

  <%= simple_form_for([@location, @review], html: { data: { controller: "review-form" } }) do |form| %>
    <%= form.error_notification %>

    <!-- Barra de progreso -->
    <div class="progress mb-4">
      <div data-review-form-target="progressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <!-- Primera seccion del formulario "General" -->
    <div data-review-form-target="section" id="step-1">
      <h2>General</h2>
      <%= form.input :title %>
      <%= form.input :comment, as: :text %>
      <%= form.input :photo, as: :file %>
    </div>

    <!-- Segunda seccion del formulario "Expenses" -->
    <div data-review-form-target="section" id="step-2" class="d-none">
      <h2>Expenses</h2>

      <!-- Meal Cost -->
      <div class="input-container-meals">
        <i class="fas fa-utensils icon"></i> <!-- Meal icon -->
        <%= form.input :meal_cost, input_html: { style: 'max-width: 150px;' } %>
      </div>

      <!-- Coffee Cost -->
      <div class="input-container-meals">
        <i class="fas fa-coffee icon"></i> <!-- Coffee icon -->
        <%= form.input :coffee_cost, input_html: { style: 'max-width: 150px;' } %>
      </div>

      <!-- Rent Cost -->
      <div class="input-container-meals">
        <i class="fas fa-home icon"></i> <!-- House icon -->
        <%= form.input :rent_cost, input_html: { style: 'max-width: 150px;' } %>
      </div>

      <!-- Beer Cost -->
      <div class="input-container-meals">
        <i class="fas fa-beer icon"></i> <!-- Beer icon -->
        <%= form.input :beer_cost, input_html: { style: 'max-width: 150px;' } %>
      </div>
    </div>

    <!-- Tercera seccion del formulario "Ratings" -->
    <div data-review-form-target="section" id="step-3" class="d-none">
      <h2>Ratings</h2>
      <!-- Range Inputs: Noise Level, Safety Level, Internet Speed, Family Zone, Pet Friendly, Nightlife, Restaurants, Shopping, Dealer -->
      <div class="form-group">
        <label for="noise_level" class="form-label">How noisy is this location?</label>
        <div class="range-container">
          <input type="range" name="review[noise_level]" class="form-range range-input" min="1" max="5" id="noise_level">
          <div class="range-labels">
            <span class="range-label">Very Quiet</span>
            <span class="range-label">Quiet</span>
            <span class="range-label">Moderate</span>
            <span class="range-label">Noisy</span>
            <span class="range-label">Very Noisy</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="safety_level" class="form-label">How safe is this location?</label>
        <div class="range-container">
          <input type="range" name="review[safety_level]" class="form-range range-input" min="1" max="5" id="safety_level">
          <div class="range-labels">
            <span class="range-label">Very Unsafe</span>
            <span class="range-label">Unsafe</span>
            <span class="range-label">Neutral</span>
            <span class="range-label">Safe</span>
            <span class="range-label">Very Safe</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="internet_speed" class="form-label">How would you rate the internet speed in this location?</label>
        <div class="range-container">
          <input type="range" name="review[internet_speed]" class="form-range range-input" min="1" max="5" id="internet_speed">
          <div class="range-labels">
            <span class="range-label">Very Slow</span>
            <span class="range-label">Slow</span>
            <span class="range-label">Average</span>
            <span class="range-label">Fast</span>
            <span class="range-label">Very Fast</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="family_zone" class="form-label">How family-friendly is this location?</label>
        <div class="range-container">
          <input type="range" name="review[family_zone]" class="form-range range-input" min="1" max="5" id="family_zone">
          <div class="range-labels">
            <span class="range-label">Not Family-friendly</span>
            <span class="range-label">Less Family-friendly</span>
            <span class="range-label">Neutral</span>
            <span class="range-label">Family-friendly</span>
            <span class="range-label">Very Family-friendly</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pet_friendly" class="form-label">How pet-friendly is this location?</label>
        <div class="range-container">
          <input type="range" name="review[pet_friendly]" class="form-range range-input" min="1" max="5" id="pet_friendly">
          <div class="range-labels">
            <span class="range-label">Not Pet-friendly</span>
            <span class="range-label">Less Pet-friendly</span>
            <span class="range-label">Neutral</span>
            <span class="range-label">Pet-friendly</span>
            <span class="range-label">Very Pet-friendly</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="nightlife" class="form-label">How would you rate the nightlife in this location?</label>
        <div class="range-container">
          <input type="range" name="review[nightlife]" class="form-range range-input" min="1" max="5" id="nightlife">
          <div class="range-labels">
            <span class="range-label">No Nightlife</span>
            <span class="range-label">Limited Nightlife</span>
            <span class="range-label">Moderate Nightlife</span>
            <span class="range-label">Good Nightlife</span>
            <span class="range-label">Vibrant Nightlife</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="restaurants_qty" class="form-label">How many restaurants are available in this location?</label>
        <div class="range-container">
          <input type="range" name="review[restaurants_qty]" class="form-range range-input" min="1" max="5" id="restaurants_qty">
          <div class="range-labels">
            <span class="range-label">Very Few Restaurants</span>
            <span class="range-label">Few Restaurants</span>
            <span class="range-label">Moderate Restaurants</span>
            <span class="range-label">Many Restaurants</span>
            <span class="range-label">A Lot of Restaurants</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="shopping" class="form-label">How convenient is the shopping in this location?</label>
        <div class="range-container">
          <input type="range" name="review[shopping]" class="form-range range-input" min="1" max="5" id="shopping">
          <div class="range-labels">
            <span class="range-label">Not Convenient</span>
            <span class="range-label">Less Convenient</span>
            <span class="range-label">Neutral</span>
            <span class="range-label">Convenient</span>
            <span class="range-label">Very Convenient</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dealer" class="form-label">Are there any dealers nearby this location?</label>
        <%= form.input :dealer, as: :boolean %>
      </div>
    </div>

    <!-- Cuarta seccion del formulario "Mobility" -->
    <div data-review-form-target="section" id="step-4" class="d-none">
      <h2>Mobility</h2>
      <!-- Mobility inputs: Metro, Bike, Bus, Uber -->
      <div class="form-group">
        <label for="metro" class="form-label">Metro</label>
        <%= form.input :metro, as: :boolean, label: false %>
      </div>
      <div class="form-group">
        <label for="bike" class="form-label">Bike</label>
        <%= form.input :bike, as: :boolean, label: false %>
      </div>
      <div class="form-group">
        <label for="bus" class="form-label">Bus</label>
        <%= form.input :bus, as: :boolean, label: false %>
      </div>
      <div class="form-group">
        <label for="uber" class="form-label">Uber</label>
        <%= form.input :uber, as: :boolean, label: false %>
      </div>
    </div>

    <!-- Quinta seccion del formulario "Submit" -->
    <div data-review-form-target="section" id="submit" class="d-none">
      <%= form.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', location_path(@location), class: 'btn btn-secondary' %>
    </div>

    <div class="d-flex justify-content-center mb-4">
      <button class="btn btn-outline-secondary" data-review-form-target="actionButton" data-action="click->review-form#transition" data-direction="previous">Back</button>
      <button class="btn btn-secondary ms-3" data-review-form-target="actionButton" data-action="click->review-form#transition" data-direction="next">Next</button>
    </div>

  <% end %>

  <%= link_to 'Cancel', location_path(@location), class: 'btn btn-secondary float-end mt-3' %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const progressBar = document.querySelector('[data-review-form-target="progressBar"]');
    const progressLabel = progressBar.querySelector('.progress-label');
    const nextButton = document.querySelector('[data-action="click->review-form#transition"][data-direction="next"]');
    const progressStep = 25; // The progress to increment on each step

    nextButton.addEventListener('click', function () {
      const currentProgress = parseFloat(progressBar.getAttribute('aria-valuenow')) || 0;
      const newProgress = currentProgress + progressStep;

      progressBar.style.width = newProgress + '%';
      progressBar.setAttribute('aria-valuenow', newProgress);
      progressLabel.textContent = newProgress + '%';
    });
  });
</script>
