<div class="container-title">
  <div class="title">
    <div class="title-img-pin"></div>
    <div class="title-txt">Locations</div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "New Location", new_location_path, class: "btn btn-cyan-700-location"  %>
</div>

<div class="container-map mt-4">
  <div style="width: 85%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container-loc">
  <div class="row">
      <% @locations.each do |location| %>
        <!--<div class="col-md-4">-->
          <div class="container-location-card-3 mb-3 mx-2">
            <div class="location-name-3"><%= truncate(location.name, length: 35, omission: '...') %> </div>
            <div class="img-location-3">
              <% if location.photo.present? %>
                <%= image_tag location.photo, class: "img-location-3" %>
              <% else %>
                <%= image_tag "map.png", class: "img-location-3" %>
              <% end %>
            </div>
            <div class="spaces-card">
              <div class="space-left">
                <span class="space-txt"><%= location.category %></span>
              </div>
              <div class="space-right">
                <span class="space-txt"><%= location.subcategory %></span>
              </div>
            </div>
            <div class="container-address">
              <p class="address-txt"><%= truncate(location.address, length: 45, omission: '...') %></p>
              <div class="address-pin"></div>
            </div>
              <p><%= link_to "View location", location_path(location), class: "btn btn-cyan-700" %></p>
          </div>
        <!--</div>-->
      <% end %>
    </div>
  </div>
</div>
<% console %>
