<div class="content-block">
  <div class="image-container">
    <img src="your_image_url_here.jpg" alt="Image">
  </div>
  <div class="text-container">
    <h2>Title</h2>
    <p>
      Your text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed at tortor euismod, bibendum nisl nec, interdum elit.
    </p>
  </div>
</div>



<div class="container-title-myloc">
  <div class="title">
    <div class="title-img-pin"></div>
    <div class="title-txt">My Locations</div>
  </div>
</div>

<div class="container-loc">
  <div class="row">
      <% @locations.each do |location| %>
        <!--<div class="col-md-4">-->
          <div class="container-location-card-3 mx-2">
            <div class="location-name-3"><%= truncate(location.name, length: 35, omission: '...') %> </div>
            <div class="img-location-3">
              <% if location.photo.present? %>
                <%= image_tag location.photo, class: "img-location-3" %>
              <% else %>
                <%= image_tag "map.png", class: "img-location-3" %>
              <% end %>
            </div>
            <div class="spaces-card">
              <div class="space-left">
                <span class="space-txt"><%= location.category %></span>
              </div>
              <div class="space-right">
                <span class="space-txt"><%= location.subcategory %></span>
              </div>
            </div>
            <div class="container-address">
              <p class="address-txt"><%= truncate(location.address, length: 45, omission: '...') %></p>
              <div class="address-pin"></div>
            </div>
            <p><%= link_to "View location", location_path(location), class: "btn btn-cyan-700" %></p>
          </div>
      <% end %>
        <!--</div>-->
  </div>
</div>


<!--<% @locations.each do |location| %>
  <p><%= location.name %> - <%= location.address %> - <%= location.city %> - <%= location.neighborhood %></p>
<% end %>--!
