<div class="container-title-myloc">
  <div class="title">
    <div class="title-img-pin"></div>
    <div class="title-txt">Create a New Location</div>
  </div>
</div>

<div class="container-new-loc"">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <%= simple_form_for @location do |f| %>
        <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>

        <!--<div class="container-map mt-4">
          <div style="width: 90%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>-->

        <%= f.input :city, class: "form-control" %>
        <%= f.input :neighborhood, class: "form-control" %>

        <div class="section-name">
          <div class="title">
            <div class="title-img-pin"></div>
            <div class="title-txt">Name your Location</div>
          </div>
          <div>
            <%= f.input :name, label: false, class: "input-name" %>
          </div>
        </div>

        <%= f.input :category, collection: Location::CATEGORIES, include_blank: "Select Category", input_html: { id: 'location_category', class: "placeholder-text" } %>
        <div id="subcategory_wrapper" style="display: none;">
          <%= f.input :subcategory, collection: [], include_blank: "Select Subcategory", input_html: { id: 'location_subcategory', class: "w-100" } %>
        </div>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-cyan-700-location" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("click", function() {
    const categorySelect = document.getElementById("location_category");
    const subcategoryWrapper = document.getElementById("subcategory_wrapper");
    const subcategorySelect = document.getElementById("location_subcategory");

    categorySelect.addEventListener("change", function() {
      if (this.value === "Public Space") {
        subcategorySelect.innerHTML = "<option value=''>Select Subcategory</option><%= j options_for_select(Location::PUBLIC_SUBTYPE) %>";
        subcategoryWrapper.style.display = "block";
      } else if (this.value === "Private Space") {
        subcategorySelect.innerHTML = "<option value=''>Select Subcategory</option><%= j options_for_select(Location::PRIVATE_SUBTYPE) %>";
        subcategoryWrapper.style.display = "block";
      } else {
        subcategoryWrapper.style.display = "none";
      }
    });
  });
</script>
